.main{
    height: 84vh;
   
}
.products{
    height: 77%;
    border: 1px solid #212529;
}
.info{
    overflow: hidden;
    height: 15%;
    border: 1px solid #212529;
}
.disc{
    overflow: hidden;
}
